<%- include("../partials/header") %>


	<div class="row editPage bg-light rounded-lg">
		<div class="text-center col-md-12 col-lg-9 m-auto">
			<h1 class="mb-4">Edit "<%= campground.name %>" Campground</h1>
		</div>
		<div class="col-md-12 col-lg-9 m-auto">
			<form class="form-edit" action="/campgrounds/<%= campground._id %>?_method=PUT " method="POST" enctype="multipart/form-data">
				<div class="form-group row">
					<label for="editCampName" class="col-md-3 col-form-label">Campground Name</label>
					<div class="col-md-9">
						<input id="editCampName" class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
					</div>
				</div>
				<div class="form-group row">
					<label for="editCampCost" class="col-md-3 col-form-label">Price per night</label>				
					<div class="col-md-9">
						<input id="editCampCost" class="form-control" type="number" name="campground[price]" value="<%= campground.price %>" min="0" step="0.01">			
					</div>
				</div>
				<div class="form-group row">
					<label for="editCampDesc" class="col-md-3 col-form-label">Description</label>				
					<div class="col-md-9">
						<textarea class="form-control" name="campground[description]" id="editCampDesc" rows="10"><%= campground.description %></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label for="editCampImg" class="col-md-3 col-form-label">Image</label>				
					<div class="col-md-9">
						<input id="editCampImg" type="file" name="image" accept="image/*">
					</div>
				</div>	
				<button class="btn btn-lg btn-primary btn-block mt-2">Submit</button>
			</form>
			<div class="text-center"><a href="/campgrounds">Go back to Campgrounds</a></div>
		</div>
	</div> <!-- Closing for form row container-->


<%- include("../partials/footer") %>
